pkgbase = scootbg
	pkgdesc = Wallpaper daemon for the scoot compositor
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/scoot-sh/scoot
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	makedepends = cargo-deny
	makedepends = git
	makedepends = wayland
	makedepends = wayland-protocols
	depends = glibc
	options = !debug
	source = scootbg-0.1.0.tar.gz::https://github.com/scoot-sh/scoot/archive/refs/tags/scoot-v0.1.0.tar.gz
	sha256sums = SKIP

pkgname = scootbg
